Forecast for {{ city }}
<div ng-repeat="w in weatherResult.list">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ convertToDate(w.dt) | date: 'MMM d, y' }}</h3>
                </div>
                <div class="panel-body">
                    Daytime temperature: {{ w.main.temp }} (if fahr = {{ convertToFahrenheit(w.main.temp) }})
                </div>
            </div>

        </div>
    </div>
</div>