<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Forecast</h4>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="city"/>
        </div>
        <a href="#/forecast" class="btn btn-primary">Get Forecast</a>
    </div>
</div>